.zoomable {
    cursor: pointer;
    transition: transform 0.3s;
}

.zoomable:hover {
    transform: scale(1.1);
}

.card-content {
    border: 1px solid rgb(255, 0, 238);
    display: flex;
    justify-content: space-between;
}

.comment-container {
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(24, 44, 56);
    border-top: 1px solid rgb(24, 44, 56);
    padding-bottom: 20px;


}

.comment-text {
    max-height: none;
    /* Ajustez si nécessaire */
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.publication-wrapper {
    border: 1px solid rgb(0, 195, 255);
    flex: 1;
}

.comment-section {

    border: 1px solid black;
    max-height: 40px;
    flex: content;
    max-width: 25%;
}

.middle-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

.publication-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.publication-container {
    border: 1px solid rgb(24, 44, 56);
    border-radius: 1%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;

}

.comment-section {
    width: 50%;
    max-width: 800px;
    overflow-y: auto;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.publications-section {
    /* border-left: 1px solid rgb(24, 44, 56); */
    /* border-right: 1px solid rgb(24, 44, 56); */

}